<!DOCTYPE html>
<html>
<head>
<title>belajar membuat tabel html</title>
<head>
<body>
<table border="1">
        <th rowspan="2" bgcolor="green">bulan</th>
        <th colspan="2" bgcolor="#00ff80">hasil panen</th>
        </tr>
        <tr>
            <td>januari</td>
            <td>500 kg</td>
            <td>231 kg</td>
        </tr>
        <tr>
            <td>februari</td>
            <td>342 kg</td>
            <td>423 kg</td>
        </tr>
        <tr>
            <td>maret</td>
            <td>432 kg</td>
            <td>124 kg</td>
        </tr>
        <tr>
            <td>april</td>
            <td>453 kg</td>
            <td>523 kg</td>
    </tr>
</table>
</body>
</html>